body{
  width: 940px;
  height: auto;
  line-height: 0;
}

.rightMenu {

  background-image: url(../image/rightmenu.jpg);
  position: absolute;
  float: right;
  right: 0;
  height: 900px;
  width: 525px;
  color:white;

}

.mob-counter-div {

  position: relative;
  top:200px;
  font-size: 20px;
  padding: 20px;
}

.rightMenu p {

  top:250px;
  position: relative;
  padding-left:20px;
  font-size: 20px;

}

/******** MAP 1 *********/


.block{
  background-image: url(../image/block.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #78c380;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.pass{
  background-image: url(../image/pass.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #78c380;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.castle{
  background-image: url(../image/castle.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #78c380;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.enter{
  background-image: url(../image/enter.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #78c380;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.zelda{
  background-image:url(zelda1.png);
  width:32px;
  height:32px;
  display:block;
  background-repeat: no-repeat;
  position:absolute;
  background-position: -32px 0px;
  z-index: 3;
}

.mob{
  background-image:url(zelda.png);
  width:32px;
  height:32px;
  display:block;
  background-repeat: no-repeat;
  position:absolute;
}

.boss{
  background-image:url(../image/boss.png);
  width:85px;
  height:85px;
  display:block;
  background-repeat: no-repeat;
  position:absolute;
}


.heart {

  width: 10px;
  height: 10px;
  background-image:url(../image/heart.png);
  display: block;
  z-index: 1;
  position: absolute;

}


/******** MAP 2 *********/

.block1{
  background-image: url(../image/block1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #e0c078;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.pass1{
  background-image: url(../image/pass1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #e0c078;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.castle1{
  background-image: url(../image/castle1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #e0c078;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.enter1{
  background-image: url(../image/enter.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #e0c078;
  width: 50px;
  height: 50px;
  display: inline-block;
}


/*********** ENDING ********/

  @font-face {
    font-family:'myFont';
    src:url(../font/TLOZ-Minish-Cap-A-Link-to-the-Past-Four-Sword.ttf);

}


div.position{
  position: relative;
  width: 500px;
  height: 356px;
  margin-left : 45%;
  margin-top: 15%;
}


.victory{
  width: 600px;
}

.btn {
  border-radius: 6px;
  font-family: 'myFont'; 
  font-size: 1px;
  color: #ffffff;
  font-size: 13px;
  background: grey;
  text-decoration: none;
  position: absolute;
  padding: 20px;
  cursor: pointer;
  top: 82%;
  left: 60%;
  transform: translateX(-50%);
}

.btn:hover {
  background: orange;
  text-decoration: none;

}