.block{
  background-image: url(../image/block.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #78c380;
}

td{
  width: 10vw;
  height: 6vw;
}

.pass{
  background: #78c380;
}

.castle{
  background: #ABB7B7;
}

.enter{
  background: #F5D76E;
}

.zelda{
background-image:url(zelda.png);
width:32px;
height:32px;
display:block;
background-repeat: no-repeat;
position:absolute;
}
