body{
  width: 940px;
  height: auto;
  line-height: 0;
}

.block{
  background-image: url(../image/block.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #78c380;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.pass{
  background: #78c380;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.castle{
  background: #ABB7B7;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.enter{
  background: black;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.zelda{
  background-image:url(zelda1.png);
  width:32px;
  height:32px;
  display:block;
  background-repeat: no-repeat;
  position:absolute;
  background-position: -32px 0px; 
}

.mob{
  
  background-image:url(zelda.png);
  width:32px;
  height:32px;
  display:block;
  background-repeat: no-repeat;
  position:absolute;
  
  
}

