body{
  width: 940px;
  height: auto;
  line-height: 0;
}

.rightMenu {

  background-image: url(../image/rightmenu.jpg);
  position: absolute;
  float: right;
  right: 0;
  height: 100%;
  width: 540px;
  color:white;

}

.mob-counter {

  position: relative;
  top:50px;
  font-size: 30px;
}

/******** MAP 1 *********/


.block{
  background-image: url(../image/block.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #78c380;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.pass{
  background-image: url(../image/pass.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #78c380;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.castle{
  background-image: url(../image/castle.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #78c380;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.enter{
  background-image: url(../image/enter.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #78c380;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.zelda{
  background-image:url(zelda1.png);
  width:32px;
  height:32px;
  display:block;
  background-repeat: no-repeat;
  position:absolute;
  background-position: -32px 0px;
  z-index: 3;
}

.mob{
  background-image:url(zelda.png);
  width:32px;
  height:32px;
  display:block;
  background-repeat: no-repeat;
  position:absolute;
}

.boss{
  background-image:url(../image/boss.png);
  width:85px;
  height:85px;
  display:block;
  background-repeat: no-repeat;
  position:absolute;
}


.heart {

  width: 10px;
  height: 10px;
  background-image:url(../image/heart.png);
  display: block;
  z-index: 1;
  position: absolute;

}


/******** MAP 2 *********/

.block1{
  background-image: url(../image/block1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #e0c078;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.pass1{
  background-image: url(../image/pass1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #e0c078;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.castle1{
  background-image: url(../image/castle1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #e0c078;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.enter1{
  background-image: url(../image/enter.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #e0c078;
  width: 50px;
  height: 50px;
  display: inline-block;
}
